<mat-grid-list cols="4" rowHeight="4:1">
  <mat-grid-tile colspan="3" rowspan="3">
    <mat-card class="card">
      <mat-card-title>
        <h4>Lets Connect</h4>
      </mat-card-title>
      <mat-card-content>
        <a color="accent" mat-raised-button
          href="https://www.linkedin.com/in/rachel-paltiel-88b188222/" target="_blank">
          Linkedin</a>
          <a mat-stroked-button href="https://github.com/RachelPaltiel" target="_blank">
          Github</a>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="4">
    <mat-card class="card">
      <mat-card-title>
        <h4>Rachel Paltiel</h4>
        <button mat-raised-button matTooltip="email address" color="primary" class="actions">
          <mat-icon>alternate_email</mat-icon>rachel.paltiel21@gmail.com
        </button>
        <button mat-raised-button matTooltip="phone number" color="primary" class="actions">
          <mat-icon>call</mat-icon>0526100245
        </button>
        <button mat-raised-button matTooltip="download CV" color="primary" class="actions">
          <mat-icon>download</mat-icon>Download CV
        </button>
      </mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="2">
    <mat-card class="card">
      <mat-card-title>
        <h4>In short</h4>
      </mat-card-title>
      <mat-card-content>
        <p class="mat-card-content">
          <b class="marked">Full Stack Developer</b> specialized in C#, Typescript,
          asp.net and angular frameworks.
          <b class="marked">Autodidact</b> and focused learner, creative when it comes to <b>problem solving</b>.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>