
          <h4>This website</h4>
          <p>
            <b class="marked">This website</b> was developed using <b class="marked">Angular</b>.
            It was designed & coded by me to demonstrate <b>different techniques</b>.
            You can find here information about my experiense, achivements and skills.
          </p>
          <h4>Rachel Paltiel</h4>
          <button mat-raised-button matTooltip="email address" color="primary" class="actions">
            <mat-icon>alternate_email</mat-icon>rachel.paltiel21@gmail.com
          </button>
          <button mat-raised-button matTooltip="phone number" color="primary" class="actions">
            <mat-icon>call</mat-icon>0526100245
          </button>
          <button (click)="downloadPdf()" mat-raised-button matTooltip="download CV" color="primary" class="actions">
            <mat-icon>download</mat-icon>Download CV
          </button>


          <h4>In short</h4>
        <mat-card-content>
          <p class="mat-card-content">
            <b class="marked">Full Stack Developer</b> specialized in C#, Typescript,
            asp.net and angular frameworks.
            <b class="marked">Autodidact</b> and focused learner, creative when it comes to <b>problem solving</b>.
          </p>

  <div class="e-content">

    <mat-stepper style="background-color: transparent;">
      <mat-step label="Ewave Mobile" state="location">
        <ng-template matStepLabel state="chat"><b class="marked">1/2023 - Now </b>
          <b class="desc"> Ewave</b></ng-template>
        <ng-template matStepContent>
          <div class="desc">
            <h4 class="marked">FS Developer</h4>
            <p>
              Developed multiple projects from scratch using C#, asp.net and angular.
              Compiled and configured projects to desktop apps as well as web applications.
              Created SQL Server Jobs and complicated procedures maintaining
              sufficient data storage, transfer and digest while preserving user-friendly response time.
               Acquired knowledge about cyber security, preforming
              penetration testing (using Burp Suite) and implementing methods for data protection.
  
            </p>
          </div>
          <div class="arrows">
            <span class="space"></span>
            <button mat-icon-button color="accent" matStepperNext><mat-icon>arrow_forward</mat-icon></button>
          </div>
        </ng-template>
      </mat-step>
      <mat-step label="Elad Health">
        <ng-template matStepLabel state="chat"><b class="marked">6/2022 - 1/2023 </b>
          <b class="desc"> Elad</b></ng-template>
        <ng-template matStepContent>
          <div class="desc">
            <h4>QA Tester</h4>
            <p>
              Full-time QA tester, works with SQL Server Management Running
              procedures and writing complex queries on daily basisPart of an
              Agile team, full cooperation with the developers and
              Product. Managing work using Jenkins & TFS.
            </p>
          </div>
          <div class="arrows">
            <button mat-icon-button color="accent" matStepperPrevious><mat-icon>arrow_back</mat-icon></button>
            <span class="space"></span>
            <button mat-icon-button color="accent" matStepperNext><mat-icon>arrow_forward</mat-icon></button>
          </div>
        </ng-template>
      </mat-step>
      <mat-step label="Finbot">
        <ng-template matStepLabel><b class="marked">1/2022 - 6/2022 </b><b class="desc"> Finbot</b></ng-template>
        <ng-template matStepContent>
          <div class="desc">
            <h4>Product Manager</h4>
            <p>
              Promoted from QA to Product managerWas given the
              opportunity to study Data System Analytics.
              Managed Sprints, Backlog and Roadmap of the product.
              Conducted Daily, Bi-weekly and Retrospectives meetings.
              Worked alongside with the Dev team, understanding the system backend
              structure and technology.
  
            </p>
          </div>
          <div class="arrows">
            <button mat-icon-button color="accent" matStepperPrevious><mat-icon>arrow_back</mat-icon></button>
            <span class="space"></span>
            <button mat-icon-button color="accent" matStepperNext><mat-icon>arrow_forward</mat-icon></button>
          </div>
        </ng-template>
      </mat-step>
      <mat-step label="Finbot">
        <ng-template matStepLabel><b class="marked">6/2020 - 1/2022 </b><b class="desc"> Finbot</b></ng-template>
        <ng-template matStepContent>
          <div class="desc">
            <h4>QA Tester </h4>
            <p>
              Up to January 2022 I performed manual QA testing on a dedicated local environment,
              Testing specific branches as well as the main branch,
              Worked with Jira and BitBucket,
              navigating through fixes and commits.
              Learned to use the tools around me to meet
              requirements and achieve team goals (Dev Tools, Git,
              Google Analytics and more).
            </p>
          </div>
          <div class="arrows">
            <button mat-icon-button color="accent" matStepperPrevious><mat-icon>arrow_back</mat-icon></button>
            <span class="space"></span>
          </div>
        </ng-template>
      </mat-step>
    </mat-stepper>
    <mat-grid-list cols="5" rows="5" class="s-content">

        <mat-grid-tile colspan="4" rowspan="1">
    
            <div class="stack-div">
                <mat-card style="background-color: transparent; margin: 2%;">
                    <mat-card-content class="stack-card">
                        <h4>TS</h4>
    
                        <mat-progress-spinner class="example-margin" color="primary" mode="determinate" value="80"
                            style="height: 60px; width: 60px;">
                        </mat-progress-spinner>
                    </mat-card-content>
                </mat-card>
    
                <mat-card style="background-color: transparent; margin: 2%;">
                    <mat-card-content class="stack-card">
                        <h4>JS</h4>
    
                        <mat-progress-spinner class="example-margin" color="primary" mode="determinate" value="60"
                            style="height: 60px; width: 60px;">
                        </mat-progress-spinner>
                    </mat-card-content>
                </mat-card>
    
                <mat-card style="background-color: transparent; margin: 2%;">
                    <mat-card-content class="stack-card">
                        <h4>Angular</h4>
    
                        <mat-progress-spinner class="example-margin" color="primary" mode="determinate" value="85"
                            style="height: 60px; width: 60px;">
                        </mat-progress-spinner>
                    </mat-card-content>
                </mat-card>
    
                <mat-card style="background-color: transparent; margin: 2%;">
                    <mat-card-content class="stack-card">
                        <h4>Ionic</h4>
    
                        <mat-progress-spinner class="example-margin" color="primary" mode="determinate" value="90"
                            style="height: 60px; width: 60px;">
                        </mat-progress-spinner>
                    </mat-card-content>
                </mat-card>
    
    
            </div>
    
        </mat-grid-tile>
    
        <mat-grid-tile colspan="1" rowspan="2">
            <div class="stack-div-colum">
              <mat-chip-listbox>
                  <mat-chip-option disabled="true" selected color="primary">Git</mat-chip-option>
                  <mat-chip-option disabled="true" selected color="primary">BitBucket</mat-chip-option>
                  <mat-chip-option disabled="true" selected color="primary">SVN</mat-chip-option>
                  <mat-chip-option disabled="true" selected color="primary">Postman</mat-chip-option>
                  <mat-chip-option disabled="true" selected color="primary">Swagger</mat-chip-option>
                  <mat-chip-option disabled="true" selected color="primary">Burp Suit</mat-chip-option>
                  <mat-chip-option disabled="true" selected color="primary">Jira</mat-chip-option>
                  <mat-chip-option disabled="true" selected color="primary">Monday</mat-chip-option>
                  <mat-chip-option disabled="true" selected color="primary">TFS</mat-chip-option>
    
              </mat-chip-listbox>
            </div>
        </mat-grid-tile>
    
        <mat-grid-tile colspan="4" rowspan="1">
            <div class="stack-div">
                <mat-card style="background-color: transparent; margin: 2%;">
                    <mat-card-content class="stack-card">
                        <h4>C#</h4>
    
                        <mat-progress-spinner class="example-margin" color="primary" mode="determinate" value="80"
                            style="height: 60px; width: 60px;">
                        </mat-progress-spinner>
                    </mat-card-content>
                </mat-card>
    
                <mat-card style="background-color: transparent; margin: 2%;">
                    <mat-card-content class="stack-card">
                        <h4>SQL</h4>
    
                        <mat-progress-spinner class="example-margin" color="primary" mode="determinate" value="60"
                            style="height: 60px; width: 60px;">
                        </mat-progress-spinner>
                    </mat-card-content>
                </mat-card>
    
                <mat-card style="background-color: transparent; margin: 2%;">
                    <mat-card-content class="stack-card">
                        <h4>ASP.NET</h4>
    
                        <mat-progress-spinner class="example-margin" color="primary" mode="determinate" value="90"
                            style="height: 60px; width: 60px;">
                        </mat-progress-spinner>
                    </mat-card-content>
                </mat-card>
    
                <mat-card style="background-color: transparent; margin: 2%;">
                    <mat-card-content class="stack-card">
                        <h4>MongoDb</h4>
    
                        <mat-progress-spinner class="example-margin" color="primary" mode="determinate" value="90"
                            style="height: 60px; width: 60px;">
                        </mat-progress-spinner>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-grid-tile>
    
    </mat-grid-list>

    <div class="e-content">
        <mat-accordion>
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle
                style="background-color: transparent;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="info-div">
                            <b class="desc">Data System Analysis </b>
                            <span class="space"></span>
                            <b class="marked">2021 - 2023</b>
                            <span class="space"></span>
                            <b class="desc">Technion TLV</b>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
    
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle
                style="background-color: transparent;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="info-div">
                            <b class="desc">Bookeeping & Payroll</b>
                            <span class="space"></span>
                            <b class="marked">2016 - 2018</b>
                            <span class="space"></span>
                            <b class="desc">Ziv Haft BDO</b>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
    
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle
                style="background-color: transparent;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="info-div">
                            <b class="desc">HighSchool Graduate </b>
                            <span class="space"></span>
                            <b class="marked">2014 - 2016</b>
                            <span class="space"></span>
                            <b class="desc"> Hila Program</b>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">End</button>
                </mat-action-row>
            </mat-expansion-panel>
    
        </mat-accordion>
    </div>
